<%- content_for(:context) do -%>search<%- end -%>

<%- num_recipes = @results.docs.length -%>
<h1>Found <%= num_recipes %> Recipe<%=(num_recipes != 1) ? "s" : ""%><%=(num_recipes != 0) ? ":" : ""%></h1>
<%- if @results.suggest? and @results.total == 0 -%>
<p>Did you mean <a href="<%=url_for :controller => 'search', :action => 'index'%>?query=<%= @results.suggest %>"><%= @results.suggest %></a>?</p>
<%- end -%>

<div id="recipesbox">
    <%-
        for i in (0..(num_recipes - 1))
        	recipe = @results.docs[i];
        	recipe_url = "http://recipes.wikia.com/wiki/" + recipe.title.gsub(" ", "_");
            text_id = "body_" + i.to_s;
            button_id = "toggle_" + i.to_s;
    -%>
        <div class="reciptitle">
            <a href="<%= recipe_url %>"><%= recipe.title %></a><br />
            <input id="<%= button_id %>" type="submit" class="viewtoggle button ingredbutton" value="View Recipe"/>
            <input class="get_ingredients button ingredbutton" type="submit" value="Get Ingredients"/>
        </div>
        <div id="<%= text_id %>" class="recipe_content">
        	<h3>Ingredients</h3>
        	<ul>
        		<%- for ingr in recipe.ingredients -%>
        		<li>
        		    <%= ingr.amount + " " + ingr.item %>
        		</li>
        		<%- end -%>
        	</ul>
        	<h3>Directions</h3>
           	<p class="recipe_directions">
<%=recipe.directions%>
            </p>
        </div>
            <%- if i < (num_recipes - 1) -%>
                <hr />
            <%- end -%>
    <%- end -%>
</div>
