<%-
	context = (yield :context).to_sym
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Nomnom</title>
		<%= stylesheet_link_merged( :base, context ).html_safe %>
		<%= javascript_include_merged( :base, context ).html_safe %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<a href="<%=url_for :controller => 'home', :action => 'index'%>" class="image-link">
    				<img src="<%= image_path 'projectnomnom_title_small.jpg' %>" alt="nomnom_title" title="Nom nom!" />
				</a>  
				<form action="<%=url_for :controller => 'search', :action => 'index'%>" method="get">
	    			<input name="query" class="page_top_search" type="text" maxlength="40" value="" />
	    			<input class="button page_top_button" type="submit" value="Find Recipes!"/>
				</form>
			</div>
			<%= yield %>
			<p>
				<a href="<%= url_for :controller => 'about', :action => 'index' %>">About</a> &bull; <a href="<%= url_for :controller => 'help', :action => 'index' %>">Help</a>
			</p>
		</div>
	</body>
</html>
