<%-
	context = (yield :context).to_sym
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Nomnom</title>
		<%= stylesheet_link_merged( :base, context ).html_safe %>
		<%= javascript_include_merged( :base, context ).html_safe %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="taskbar">
					<div id="welcome">
						Welcome, <span id="user_name"><%= logged_in? ? current_user.fl_name : "Guest" %></span>
					</div>
					<div id="login">
						<div id="login_links" <%= logged_in? ? 'style="display:none;"'.html_safe : ''.html_safe %>>
							<a id="show_login" href="#">Login</a> &bull; 
							<a id="sign_up" href="/signup">Sign Up</a>
						</div>
						<form id="login_form">
							<input id="email" class="format" name="user_session[email]" type="text" value="Email" maxlength="50" />
							<input id="password" class="format" name="user_session[password]" type="password" value="Password" maxlength="50" />
							<input id="submit_login" type="submit" value="Login" />
							<img id="cancel_login" src="<%= image_path 'login_cancel.jpg' %>">
						</form>
						<div id="logged_in" <%= !logged_in? ? 'style="display:none;"'.html_safe : ''.html_safe %>>
							<a id="account" href="/account">Account</a> &bull;
							<a id="logout" href="#">Logout</a>
						</div>
					</div>
				</div>
				<a href="<%=url_for :controller => 'home', :action => 'index'%>" class="image-link">
    				<img src="<%= image_path 'projectnomnom_title_small.jpg' %>" alt="nomnom_title" title="Nom nom!" />
				</a>
				<form action="<%=url_for :controller => 'search', :action => 'index'%>" method="get">
	    			<input id="query" name="query" class="page_top_search" type="text" maxlength="40" value="<%=@query%>" />
	    			<input class="button page_top_button" type="submit" value="Find Recipes!"/>
				</form>
			</div>
			<%= yield %>
			<p id="footer">
				<a href="<%= url_for :controller => 'about', :action => 'index' %>">About</a> &bull; <a href="<%= url_for :controller => 'help', :action => 'index' %>">Help</a>
			</p>
		</div>
	</body>
</html>
