<%- content_for(:context) do -%>conflict<%- end -%>

<div id="<%= @recipe.id %>" class="ingredients">
		<h4><%= @recipe.title %></h4>
		<p id="disclaimer">
			Here's what we think you need for this recipe.</br>
			You can always customize the ingredients.
		</p>
		<br />
		<table class="ingredients">
			<tr><th></th><th>Add?</th><th>Amount</th><th>Item</th><th></th>
			<%- 
			i = 0;
			amountLess = [];	
			for ingr in @recipe.ingredients -%>
			<tr id="ingr_<%= i + 1 %>" class="ingredient">
				<%- 
				if ingr.amount != nil && ingr.amount != "null"
					#unit = Unit.new(ingr.amount);
					#unit2 = Unit.new("cup");
					#if unit.compatible? unit2
					#	amount = unit >> "cup"
					#else 
						amount = ingr.amount
					#end
					i += 1
					
				-%>
				<td><%= i %>)</td>
				<td class="include_item">
					<input type="checkbox" name="include_<%= i %>" checked="checked" />
				</td>
				<td>
					<select class="amount">
						<option value="<%= amount %>"><%= amount %></option>
					</select>
				</td>
				<td>
					<select class="item">
						<option value="<%= ingr.item %>"><%= ingr.item %></option>
						<%-
							for item in @results[ingr.item]['response']['docs']
							-%>
						<option value="<%= item['asin'] %>"><%= item['simpleProductName'].chomp %></option>
							<%-
							end
						-%>
					</select>
				</td>
				<td class="expand">
					V
				</td>			
				<%- 
				else
					amountLess.push(ingr);
				end  -%>
			</tr>
			<tr id="ingr_expand_<%= i %>" class="ingredient_expand">
				<td colspan="5">
					Stuff <br />
					More Stuff <br />
					Lots of stuff
				</td>
			</tr>
			<%- 
			end
			for ingr in amountLess 
				i += 1 -%>
			<tr class="ingredient">
				<td><%= i %>)</td>
				<td class="include_item">
					<input type="checkbox" name="include_<%= i %>" checked="checked" />
				</td>
				<td></td>
				<td>
					<select class="item amountLess">
						<option value="<%= ingr.item %>"><%= ingr.item %></option>
						<%-
							for item in @results[ingr.item]['response']['docs']
							-%>
							<option value="<%= item['asin'] %>"><%= item['simpleProductName'].chomp %></option>
							<%-
							end
						-%>
					</select>
				</td>
				<td class="expand">
					V
				</td>
			</tr>
			<tr id="ingr_expand_<%= i %>" class="ingredient_expand">
				<td colspan="5">
					Stuff <br />
					More Stuff <br />
					Lot sof stuff
				</td>
			</tr>
			<%- 
			end -%>
		</table>
		<button id="addToCart" class="button">Add To Cart!</button>
</div>
